@model SchoolProject.Models.Form.Admin_User;
<!DOCTYPE html>
<html lang="en">
<head>
	<title>School</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/img/konkuk.jpg');">
			<div class="wrap-login100">
				@using(Html.BeginForm("Admin", "School", FormMethod.Post))
    			{
					<form class="login100-form validate-form">
						<span class="login100-form-logo">
							<img src="/img/engineer.png" alt="admin" width="50" height="50">
						</span>

						<span class="login100-form-title p-b-34 p-t-27">
							Admin Login
						</span>

						<div class="wrap-input100 validate-input" data-validate = "Enter username">
							@Html.TextBoxFor(m => m.username, new { @id="login", @class="input100", @name="username", @placeholder="Username" })
							<span class="focus-input100" data-placeholder="&#xf207;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Enter password">
							@Html.PasswordFor(m => m.password, new {@id="password", @class="input100", @name="pass", @placeholder="Password"})
							<span class="focus-input100" data-placeholder="&#xf191;"></span>
						</div>
						<span style="color: red;">@ViewBag.error</span>
						<div class="container-login100-form-btn">
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</form>
				}
				<div>
					<br><span id="span_role">Not an administrator?</span><br>
					<div id="cont_role">
						<a href = "/School/LoginProfessor"><img src="/img/teacher.png" alt="Professor" width="40" height="40" id="role"></a>
						<a href = "/School/LoginStudent"><img src="/img/students.png" alt="Student" width="40" height="40" id="role"></a>
						<a href = "/School/LoginParent"><img src="/img/parents.png" alt="Parent" width="40" height="40" id="role"></a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>

