@model SchoolProject.Models.Form.Grades;
@using SchoolProject.Models.Form;
<link rel="stylesheet" href="~/css/profhome.css" />

<div class="sidenav">
  <img src="~/img/teacher.png" class="img-circle" width="80" height="80">
  <h4>Professor Menu</h4><br><br>
  <a href="/School/Professor">Home</a>
  <a href="/School/AddGrades">Add Grade</a>
  <a href="/School/AddAttendance">Add Attendance</a>
  <a href="#">View Profile</a>
  <a href="#">View Record</a>
  <a href="/School/LoginProfessor" id="logout">Logout</a>
</div>

<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          @{
            <a class="navbar-brand">@DateTime.Now.ToString("dddd , MMM dd, yyyy")</a>
          }
        </li>
      </ul>
    </div>
  </nav>
  <h4 style="margin-top: 20px; margin-bottom: 30px;">Welcome</h4>
  <img id="bg-prof" src="/img/prof.png" alt="professor">
  
</div>