@model SchoolProject.Models.Form.Admin_User;

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/login.css" />
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h3>Admin Login</h3>
    </div>
    @using(Html.BeginForm("Admin", "School", FormMethod.Post))
    {
      <!-- Login Form -->
      <form>
        @Html.TextBoxFor(m => m.username, new { @id="login", @class="fadeIn second", @name="login", @placeholder="login" })
        @Html.PasswordFor(m => m.password, new {@id="password", @class="fadeIn third", @name="login", @placeholder="password"})
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
    }
  </div>
</div>