@model SchoolProject.Models.Form.Professor;
@using SchoolProject.Models.Form;
@using Microsoft.AspNetCore.Http;

<link rel="stylesheet" href="~/css/profhome.css" />
<div class="container-login100" style="background-image: url('/img/konkuk.jpg');">
<div class="sidenav">
  <img src="~/img/teacher.png" class="img-circle" width="80" height="80">
  <h4>Professor Menu</h4><br><br>
  <a href="/School/Professor">Home</a>
  <a href="/School/Professor/AddGrades">Add Grade</a>
  <a href="/School/Professor/AddAttendance">Add Attendance</a>
  <a href="/School/Professor/Profile">View Profile</a>
  <a id="logout" asp-controller="LoginProfessor" asp-action="proflogout">Logout</a>
</div>

<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          @{
            <a class="navbar-brand">@DateTime.Now.ToString("dddd , MMM dd, yyyy")</a>
          }
        </li>
      </ul>
    </div>
  </nav>
  <h4 style="margin-top: 20px; margin-bottom: 30px;">Welcome, @Context.Session.GetString("username")</h4>
  <img id="bg-prof" src="/img/prof.png" alt="professor">
</div>
</div>