.col-xs-3 {
    margin-right: 10px;
}

h4{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #5e5c5c;
    display: block; 
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, #f5f7fa, #b8c6db);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #4287ee;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  form {
    margin-left: 100px;
    width: 800px;
  }
  label {
    font-size: 12pt;
  }
  img{
    width: 90px;
    height: 90px;
    margin-left: 55px;
    margin-top: 50px;
  }

  #logout{
    position: absolute;
    bottom: 20;
  }

  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
  }
  
  .container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
  }
