@model SchoolProject.Models.Form.Grades;
@using SchoolProject.Models.Data;
@using Microsoft.AspNetCore.Http;
@{
  if(@Context.Session.GetString("username") == null)
  {
    Context.Response.Redirect("/School/LoginParent");
  }
}

<link rel="stylesheet" href="~/css/adminadmin.css" />
<div class="container-login100" style="background-image: url('/img/konkuk.jpg');">
<div class="sidenav">
  <img src="~/img/parents.png" class="img-circle" width="80" height="80">
  <h4>Parent Menu</h4><br><br>
  <a href="/School/Parent">Home</a>
  <a href="/School/Parent/ViewGrade">View Grade</a>
  <a href="/School/Parent/ViewAttendance">View Attendance</a>
  <a href="/School/Parent/Profile">View Profile</a>
  <a id="logout" asp-controller="LoginParent" asp-action="parlogout">Logout</a>
</div>

<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          @{
            <a class="navbar-brand">@DateTime.Now.ToString("dddd , MMM dd, yyyy")</a>
          }
        </li>
      </ul>
    </div>
  </nav>
  <h4 style="margin-top: 20px; margin-bottom: 30px;">Student Grade Viewer</h4>
  @using(Html.BeginForm("SubmitForm", "ParentGrade", FormMethod.Post))
  {
    <form>
      <div class="form-group row">
        <div class="col-xs-3">
          <label for="exampleInputEmail1">Enter Student ID</label>
          @Html.TextBoxFor(m => m.student_id, new{@class="form-control",  @placeholder="Enter Student Id"})
        </div>
      </div>
      <button type="submit" class="btn btn-primary">View Grade</button>
    </form>
  }
</div>
</div>